
@media screen and (min-width: 750px) {
	.container, .nav-bar, .footer-bg {
    	width: 750px;
    	margin-left: auto;
    	margin-right: auto;
    }
}

@media screen and (min-width: 647px) {
  .featured-works {
    text-align: left;
  }
}

@media screen and (max-width: 635px) {
  .featured-works {
    font-size: 25px;
  }
}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 387px) {
  .container {
    justify-content: center;
  }

  .header-info {
    text-align: center;
  }
}

@media screen and (max-width: 204px) {
  .card {
    min-width: 100%;
  }
}

