

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

.container {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*
 *
 * Header
 *
 */

.header {
	border-bottom: 3px solid silver;
	margin-bottom: 2%;
 }

 .nav-bar {
	display:flex;
	flex-wrap: wrap;
}

.header-logo {
	width: 15%;
    min-width: 50px;
    max-width: 100px;
    height: 100%;
    padding: 1%;
}

.header-info {
	text-align: right;
    width: 83%;
    padding: 1% 0;
    font-size: 20px;
}

h1 {
	font-weight: 700;
	margin-top: 0;
	background: -webkit-linear-gradient(35deg, red, silver);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

small {
	font-weight: 500;
	margin: 0;
	margin-left: 18%;
}

/*
 *
 * Image
 *
 */

.major-image {
	margin-top: 1%;
	width: 100%;
	min-height: 12em;
	flex-basis: 50%;
}

/*
 *
 * Featured Works
 *
 */

 .minor-image {
	width: 100%;
	border-radius: 50%;
	height: 65%;
}

.card {
	min-width: 200px;
	width: 28%;
	margin: 0 10px 0 0;
	border: 2px solid red;
	border-radius: 2%;
	padding-top: 7%; 
}

.featured-works {
 	width: 80%;
 	padding-top: 5%;
 }

h2 { 
	font-weight: 400;
	color: red;
	margin: 0;
	font-size: 1.5em;
}

p {
	font-size: 1em;
	width: 90%;
	margin-left: 10%;
}

h3 { 
	text-align: center; 
	margin: 0;
	font-size: 14px;
}

a {
	display: block;
	min-width: 3em;
	min-height: 3em;
    margin: auto;
    text-align: center;
    text-decoration: none;
}

/*
 *
 * Footer
 *
 */

.footer-bg {
	background: silver;
	height: 5vh;
	width: 100%;
	margin-top: 2%;
}
