
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

img {
	margin-top: 3%;
}

.placeholder {
	width: 100%; 
	text-align: center;
	line-height: 17em;
	font-size: 1.2em;
}

/*
 *
 * Header
 *
 */

.header {
	border-bottom: 2px solid red;
	margin-bottom: 2%;
 }

.header-logo {
	width: 100%;
  	max-width: 30em;
  	height: 5em;
  	padding: 0;
	margin-left: 3%;
}

.header-info {
	margin: 0;
	width: 100%;
}

h1 {
	font-weight: 700;
	margin-top: 0;
	background: -webkit-linear-gradient(35deg, red, silver);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

small {
	font-weight: 500;
	margin: 0;
	margin-left: 18%;
}

/*
 *
 * Image
 *
 */

.major-image {
	padding-top: 5%;
	max-width: 100%;
	width: calc(100% - 20px) /3;
	height: 25em;
	background-image: url(../img/html.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/*
 *
 * Featured Works
 *
 */

 .featured-works {
 	width: 80%;
 	padding-top: 5%;
 }

.main {
 	width: 100%;
 }

h2 { 
	font-weight: 400;
	color: red;
	margin: 0;
	font-size: 1.5em;
}

p {
	font-size: 1em;
	width: 90%;
	margin-left: 10%;
}

h3 { 
	text-align: center; 
	margin: 0;
	font-size: 1.5em;
}

a {
	min-width: 3em;
	min-height: 3em;
	display: block;
    margin: auto;
    text-align: center;
}

.minor-image {
	height: 12em;
	width: 100%; 
}

/*
 *
 * Footer
 *
 */

.footer-bg {
	background: silver;
	height: 5vh;
	width: 100%;
}
